<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
  	<add key="GetchemrpsserviceURLPrefixinfo" value="http://SERVERNAME:5003/api/chemrps/" />
  	<add key="GetBCFAuthenticatorDBConnectinfo" value="Server = SERVERNAME; Port = DATABASEPORT; User Id = bcf_authenticator; Password = BCF_AUTHENTICATORPASSWORD; Database = DATABASENAME;  Pooling = false"/>
  	<add key="GetUserDBConnectinfo" value="Server = SERVERNAME; Port = DATABASEPORT; Database = DATABASENAME;  Pooling = false"/>
    <add key="SDFilepath" value="/app"/>
    <add key="RegisterSDFileBulkloadChemRPSUsername" value="admin"/>
    <add key="Maxhitlistsize" value="-1"/>
    <add key="AllowDuplicatestructureregistration" value="false"/>
    <add key="maxrecords" value="-1"/>
  </appSettings>
  
</configuration>