<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
  	<add key="GetecrsserviceURLPrefixinfo" value="http://192.168.99.100:5003/api/ecrs/" />
  	<add key="GetBCFAuthenticatorDBConnectinfo" value="Server = database; Port = 5432; User Id = bcf_authenticator; Password = demo; Database = chemrpsdbdemo;  Pooling = false"/>
  	<add key="GetUserDBConnectinfo" value="Server = chemrpsdb; Port = 5432; Database = chemrpsdbdemo;  Pooling = false"/>
    <add key="SDFilepath" value="/code/sdfileuploads"/>
    <add key="RegisterSDFileBulkloadChemRPSUsername" value="admin"/>
    <add key="Maxhitlistsize" value="100"/>
    <add key="AllowDuplicatestructureregistration" value="false"/>
    <add key="maxrecords" value="-1"/>
  </appSettings>
  
</configuration>