<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
  	<add key="GetchemrpsserviceURLPrefixinfo" value="http://SERVERNAME:5003/api/chemrps/" />
  	<add key="GetBCFAuthenticatorDBConnectinfo" value="Server = database; Port = 5432; User Id = bcf_authenticator; Password = BCF_AUTHENTICATORPASSWORD; Database = DATABASENAME;  Pooling = false"/>
  	<add key="GetUserDBConnectinfo" value="Server = database; Port = 5432; Database = DATABASENAME;  Pooling = false"/>
    <add key="SDFilepath" value="/sdfilefolder"/>
    <add key="RegisterSDFileBulkloadChemRPSUsername" value="admin"/>
    <add key="Maxhitlistsize" value="100"/>
    <add key="AllowDuplicatestructureregistration" value="true"/>
    <add key="maxrecords" value="100"/>
  </appSettings>
  
</configuration>